/*--------------------------------------------
*             General Page Style
*---------------------------------------------*/
#adminSettings {
    background-color: rgba(198, 198, 198, 0.2);
    box-shadow: -3px 2px 8px rgba(0, 0, 0, 0.17),
        3px 2px 8px rgba(0, 0, 0, 0.17);
    width: 60%;
    min-height: 20vh;
}

/*--------------------------------------------
*                   Container
*---------------------------------------------*/
#adminSettings>div {
    width: 100%;
}

/*-- ------------ Form label ------------ --*/
#adminSettings label {
    width: 100%;
}

/*--------------------------------------------
*                Responsiveness
*---------------------------------------------*/
/*----------- 📱 small and medium size screens -----------*/
@media (max-width: 992px) {
    #adminSettings {
        width: 90%;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    form #buttonsContainer {
        flex-direction: column;
    }
}