/*--------------------------------------------
*                   General
*---------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 246, 246);
}

#main {
    width: 100%;
}

/*-- ------------ Color code ------------ --*/
.red {
    color: rgb(255, 0, 0);
}

.yellow {
    color: rgb(223, 178, 0);
}

.green {
    color: rgb(70, 193, 70);
}