nav.nav {
    background-color: white !important;
    max-height: fit-content;
}

/*----------- Nav icons -----------*/
nav img {
    width: 40px;
}

nav img:not(#logo):hover {
    opacity: 0.7;
}

/*----------- Nav buttons -----------*/
#addProject,
#managePosts {
    background-color: rgb(129, 0, 0);
    border: 1px solid rgb(130, 0, 0);
    color: white;
    transition: all 0.3s;
}

#addProject:hover,
#managePosts:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(129, 0, 0);
}

/*----------- Nav menu -----------*/
nav>div.container-fluid {
    flex-direction: row;
}

#leftNav {
    min-width: max-content;
}



/*----------- Profile Menu -----------*/
#profileMenu img {
    min-width: 30px;
}

#profileMenu .dropdown-menu li {
    border-bottom: 1px solid rgb(188, 188, 188);
}

#profileMenu .dropdown-menu li:hover {
    background-color: rgb(245, 245, 245);
}

#profileMenu .dropdown-menu a {
    color: black;
    text-decoration: none;
}

/*--------------------------------------------
*                Responsiveness
*---------------------------------------------*/
/*----------- 📱 small and medium size screens -----------*/
@media (max-width: 768px) {
    nav>div.container-fluid {
        flex-direction: column;
    }

    #rightNav {
        background-color: rgba(188, 188, 188, 0.1);
        padding: 10px 0;
        border-radius: 10px;
    }
}