/*----------- Page Style -----------*/
#aboutPage {
    min-width: 80%;
    min-height: 20vh;
    background-color: rgb(129, 0, 0);
    color: rgb(249, 246, 247);
}

/*----------- Page header -----------*/
#aboutPage h1 {
    text-shadow: 1px 1px 3px rgba(249, 246, 247, 0.59),
        -1px -1px 3px rgba(249, 246, 247, 0.59);
    font-style: italic;
    width: 50%;
    background-color: rgb(77, 1, 21, 0.2);
}