:root {
    /*-- ------------ Backgrounds ------------ --*/
    --primary-bg: rgb(249, 246, 247);
    --secondary-bg: rgb(99, 0, 0);
    --emphasis: rgb(129, 0, 0);
    --headers: rgb(198, 198, 198);

    /*-- ------------ Elements & tags ------------ --*/
    --text: ;
    --borders: rgb(249, 246, 247);

    /*-- ------------ Shadows ------------ --*/
    --text-shadow: rgba(249, 246, 247, 0.59);
    --dark-shadow: ;
    --light-shadow: ;
}