/*--------------------------------------------
*                   General
*---------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: var(--primary-bg);
}

a {
    /* -- do not underline links anywhere unless added -- */
    text-decoration: none;
}

/*-- ------------ Language specific ------------ --*/
*:lang(en),
*:lang(fr) {
    /* font-family: ; */
    direction: ltr;
}

*:lang(ar) {
    /* font-family: ; */
    direction: rtl;
}