/* ------------------ General style ------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:lang(en),
*:lang(fr) {
    /* font-family: ; */
    direction: ltr;
}

*:lang(ar) {
    /* font-family: ; */
    direction: rtl;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(249, 246, 247);
}

a {
    text-decoration: none;
}