/* ------------------ Header General ------------------ */
header {
    background-color: rgb(198, 198, 198);
    display: flex;
    padding: 20px;
    clear: both;
}

#headerImg {
    width: 100%;
    display: flex;
    justify-content: center;
}

#headerImg img {
    width: 100%;
    max-height: 25vh;
    margin: 10px auto;
}

/* ------------------ Title ------------------ */
#titleDiv {
    padding: 2% 3%;
}

header h1 {
    font-size: 2.5em;
}