/* ------------------ Header General ------------------ */
header {
    background-color: var(--greys-2);
    display: flex;
    padding: 20px;
    clear: both;
}

#headerImg,
header a {
    display: flex;
    justify-content: center;
}

/* ------------------ Title ------------------ */
#titleDiv {
    padding: 2% 3%;
}

header h1 {
    font-size: 2.5em;
}

@media (min-width: 768px) {

    /* reduce header size for larger screens */
    #headerImg {
        width: 60%;
        margin: auto;
    }

}